{% set navPages = collections.all | eleventyNavigation %}
<nav class="menu">
    {%- for entry in navPages %}
        <a href="{{ entry.url }}" {% if entry.url == page.url %} class="active" {% endif %}>{{ entry.title }}</a>
    {%- endfor %}
</nav>