<link rel="manifest" href="manifest.json">
<link rel="shortcut icon" href="/assets/img/icons/favicon_io/favicon.ico" type="image/x-icon">  
<link rel="apple-touch-icon" href="/assets/img/icons/icon.png">