<!doctype html>
<html lang="en">
  <head>
    {% include 'head/meta.njk' %}
    {% include 'head/title.njk' %}
    {% include 'head/og.njk' %}
    {% include 'head/links.njk' %}
    {% include 'head/styles.njk' %}
  </head>
  <body>
    {% include 'header/header.njk'%}
    {% include 'main/main.njk'%}
    {% include 'footer/footer.njk'%}
  </body>
</html>

