<link rel="manifest" href="manifest.json">
<link rel="shortcut icon" href="/assets/images/icons/favicon/favicon.ico" type="image/x-icon">  
<link rel="apple-touch-icon" href="/assets/images/icons/icon.png">
<link rel="stylesheet" href="/styles/style.css">