<nav class = "flex-gap">
    <a href = "/"/>home</a>
    <a href = "/articles"/>articles</a>
    <a href = "/media"/>media</a>
    <a href = "/about"/>about</a>
    <a href = "/resume"/>resume</a>
    <a href = "/podcasts"/>podcasts</a>
    <a href = "/events"/>events</a>
    <a href = "/contact"/>contact</a>
</nav>