---
eleventyExcludeFromCollections: true
permalink: 'cascade.json'
---
{
    "title": "Cascade",
    "description": "Cascade is a simple, lightweight, and fast static site generator.",
    "url": "https://cascade.dev",
    "image": "https://cascade.dev/assets/images/cascade.png",
    "author": {
        "name": "Cascade",
        "url": "https://cascade.dev"
    }
}